<h4> Add Quote </h4>

<form method="POST" action="/quote/add">

    <div class="form-group">
        <label>Quote ID</label>
        <input type="text" name="quoteId" class="form-control">
    </div>

    <div class="form-group">
        <label>Quote Value</label>
        <input type="number" name="quoteValue" class="form-control">
    </div>

    <div class="form-group">
        <label>Quote Date</label>
        <input type="date" name="quoteDate" class="form-control">
    </div>

    <div class="form-group">
        <label>Insurance Type</label>
        <input type="text" name="insuranceType" class="form-control">
    </div>


    <div class="form-group">
        <label>Car</label>
        <select name="car[]" class="form-control">
            <option selected> Select </option>

            <% cars.forEach (function (car) { %>

                <option value="<%= car._id %>"> <%= car.plateId %> </option>

            <% }) %>
        </select>
    </div>

    <br>
    
    <button type="submit" class="btn btn-primary">Create Quote</button>

</form>